/JavaApplication5/nbproject/private/
/JavaApplication5/build/
/JavaApplication5/dist/
/Reader/nbproject/private/
/Reader/build/
/Reader/dist/
/JavaApplication7/nbproject/private/
/JavaApplication7/build/
/JavaApplication7/dist/
/Pyramids/nbproject/private/
/Pyramids/build/
/Pyramids/dist/
/LambdaDemo/nbproject/private/
/LambdaDemo/build/
/LambdaDemo/dist/
/Stream/nbproject/private/
/Stream/build/
/Stream/dist/
/Longer String/nbproject/private/
/Longer String/build/
/Longer String/dist/
