/JavaApplication5/nbproject/private/
/JavaApplication5/build/
/JavaApplication5/dist/
/Reader/nbproject/private/
/Reader/build/
/Reader/dist/
/JavaApplication7/nbproject/private/
/JavaApplication7/build/
/JavaApplication7/dist/
/Pyramids/nbproject/private/
/Pyramids/build/
/Pyramids/dist/
